* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {  
    width:100%;
    background:url('images/triangle\ confetti\ background.jpg') repeat ;
    background-attachment: fixed;
    -ms-content-zoom-chaining: chained;
}

header, main {
    margin:2%;
}

header {    
    position: relative;
    height:100vh;
    margin:70px 0 20px 0;
    text-align:center;  
    font-family:'Courier New', Courier, monospace;
}

h2 {
    font-size:34px;
    font-weight:bolder;
    letter-spacing:3px;
}

h5 {
    font-size:24px;
    padding:10px 30%;
    margin:10px 10px 4px 0;
    text-align:center;
    line-height:150%;
    letter-spacing:normal;  
}

.eggemoji {
    position:absolute;
    left: 20%;
    width: 60%;
    height:300px;
    background: url('images/header\ egg.png') no-repeat scroll center;
    background-size:contain;
    z-index:1;
}

span.nav{
    position:absolute;
    margin:10%;
    left: 5%;
    width: 80%;
    z-index:2;
    display: inline;
}

#displaynav {
    font-size:20px;
    text-transform:uppercase;
    text-decoration:none;
    font-weight:bold;
    color:teal;
    text-shadow: -2px 4px greenyellow;
    text-align:center;
}

.eggemoji:hover {
    background-image:url('images/crackedegg.png');
}

main {
    position:absolute;
    margin-bottom:20px;
}

.float {
    position:relative;
    width:50%;
    height:90vh;
    border-top:darkblue 3px solid;
    border-bottom:darkblue 3px solid;
    border-left:darkblue 3px solid;
    background-color:gold;
    opacity:.95;
    margin-bottom:20px;   
}

.left {
    float:left;
}

.right {
    position:relative;
    float:right;
    border-right:darkblue 3px solid;
    overflow:auto;
}

.container {
    position:absolute;
    top:21%;
  
    height:58%;
    width:100%;

    padding: 5px 0;
    background:url('images/grid.gif'); 
    opacity:.95;   
    border-top:darkblue 3px solid;
    border-bottom:darkblue 3px solid;

}

.center {
    position:absolute;
    left:25%;
    top:0%;
    width: 50%;
    height:100%;
    text:contain;
}

article{
    margin:0 8%;
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    padding:75px 0 18px 0;
    font-size:41px;
    font-weight:900;
    letter-spacing:2.5px;
    color:darkblue;
}

small {
    padding:0 3% 0px 0px;
    font-size:15px;
    text-transform:uppercase;
    letter-spacing:3px;
    color:darkslategray;  
}

p {
    text-align:justify;
    padding:30px 5%;
    font-size:20px;
    color:darkblue;
    line-height:30px;
}

.recipe {
    position:absolute;
    width:84%;
    padding:5%;
    margin-bottom:5%;
    font-size:18px;
    background-color:white;  
    opacity:.95;
    text-align:justify;
}
 
li{
    list-style:none;
    letter-spacing: 1.5px;
}

h4 {
    padding-bottom:10px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing:3px;
    text-decoration:underline;
    color:darkslategray;
    text-transform:uppercase;
}

#scrambledmethod .float {
    background-color:plum !important;
}

#discomethod .float {
    background-color:greenyellow !important;
}

#romeletmethod .float {
    background-color:lightskyblue  !important;
}

.ingredients, .directions{
    padding-bottom:10px;
}

.method {
    clear:both;
}

footer {
    clear:both;
    position:fixed;
    left: 0;
    bottom:0;
    padding:0 4%;
    width: 100%;
    height:30px;
    text-justify: left;
    font-family:'Courier New', Courier, monospace;
    font-size:26px;
    background-color:lightcyan; 
    opacity:.8
}
